.base-span {
  color: $gray;
  font-size: 20px;
  margin-left: 10px;
}

.bold-title {
  font-size: 32px;
  font-weight: bold;
  margin: 20px 10px;
}

.bold-text {
  font-size: 20px;
  font-weight: bold;
}

.subtitle {
  font-size: 24px;
}

.item {
  margin: 30px 10px;
}
