.base-span {
  margin-left: 10px;
  color: $text-grey;
  font-size: 20px;
}

.bold-title {
  font-size: 32px;
  font-weight: bold;
}

.bold-text {
  font-size: 20px;
  font-weight: bold;
}

.subtitle {
  font-size: 24px;
}

.top-item {
  display: flex;
  margin: 20px 10px;
}

.item {
  display: flex;
  margin: 10px;
}
