.base-span {
  color: $gray;
  font-size: 20px;
  margin-left: 10px;
}

.bold-title {
  font-size: 32px;
  font-weight: bold;
  width: 100%;
}

.bold-text {
  font-size: 20px;
  font-weight: bold;
}

.subtitle {
  font-size: 24px;
  margin-left: 0;
}

.item {
  margin: 30px 10px;
}

.detail {
  margin: auto;
  padding: 80px;
  width: fit-content;
}

.container {
  background-color: $white;
  box-shadow: 4px 4px 10px 0 $black-lighter-5;
  display: flex;
  height: 415px;
  margin-top: 50px;
  width: 900px;
}

.back-arrow {
  display: contents;
  font-size: 20px;
  &::before {
    content: url('resources/back-arrow-20.png');
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-right: 15px;
  }
} 

.container-item {
  margin: 25px;
}

.container-data {
  flex-grow: 2;
}

.book-cover {
  height: 368px;
  width: 260px;
}

.border-line {
  border-bottom: solid $earls-green;
  padding-bottom: 20px;
}

.badge {
  position: relative;

  &::after {
    background: center / contain no-repeat url('resources/badge.png');
    bottom: 280px;
    content: '';
    height: 100px;
    left: 195px;
    position: absolute;
    transform: rotate(15deg);
    width: 100px;
  }
}

