.list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  max-width: 1000PX;
  padding: 85px 10px;
  width: 100%;
}

.list-item {
  box-shadow: 4px 4px 10px 0 $black-lighter-5;
  flex: 1 0 auto;
  height: 300px;
  margin: 15px 15px;
  max-width: 200px;
  padding: 25px;
  transition: transform 0.5s;
  width: 100%;

  &:hover {
    transform: scale(1.05);
  }
}


.item-book-cover {
  background: center / cover no-repeat url('resources/book-cover.png');
  height: 200px;
  width: 150px;
}

.item-bold-text {
  font-size: 15px;
  font-weight: bold;
  padding-top: 5px;
}

.item-text {
  color: $gray;
  padding-top: 5px;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: $white;
}

body::-webkit-scrollbar-thumb {
  background: $white;
}

.navbar {
  background-color: $white; 
  border-top: solid 5px $cerulean;
  box-shadow: 0 4px 10px 0 $black-lighter-5;
  height: 70px;
  position: fixed;
  width: -webkit-fill-available;
}

.navbar-nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  background: center / cover no-repeat url("resources/logo-wolox.png");
  height: 70px;
  width: 210px;
}

.logout {
  font-size: 18px;
  line-height: 20px;
}
