@import '_colors';

.container {
  padding: 100px 10px;
  text-align: center;
}

.filter {
  box-sizing: border-box;
  height: 50px;
  width: 645px;
  border-radius: 5px;
  border: 2px solid $mercury;
  background: url('~/assets/search.png') no-repeat scroll 98% 50%;
  padding-right: 45px;
}

.list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  max-width: 1000PX;
  padding-top: 20px;
  text-align: left;
  width: 100%;
}

.list-item {
  box-shadow: 4px 4px 10px 0 $black-lighter-5;
  flex: 1 0 auto;
  height: 300px;
  margin: 15px;
  max-width: 200px;
  padding: 25px;
  position: relative;
  transition: transform 0.5s;
  width: 100%;

  &:hover {
    transform: scale(1.05);
  }
}

.item-book-cover {
  background: center / cover no-repeat url('~/assets/book-cover.png');
  height: 200px;
  width: 150px;
}

.item-bold-text {
  font-size: 15px;
  font-weight: bold;
  padding-top: 5px;
  width: -webkit-fill-available;
}

.item-text {
  color: $gray;
  padding-top: 5px;
}

.add-buttom {
  background: center / cover no-repeat url('~/assets/add-icon.png');
  bottom: 5px;
  height: 30px;
  position: absolute;
  right: 5px;
  width: 30px;
}
