<body class="detail">
  <a class="back-arrow" [routerLink]="['/books']" >Atrás</a>
  <div class="container">
    <h2 class="bold-title">{{book.title}}</h2>
    <span class="base-span subtitle">({{book.genre}})</span>
    <div class="container-item" [ngClass]="{ badge: starredAuthor(book.author) }">
      <img class="book-cover" [src]="book.image_url" [alt]="book.title"/>
    </div>
    <div class="container-item container-data">
      <div class="item">
        <span class="bold-text">Autor del libro:</span>
        <span class="base-span">{{book.author}}</span>
      </div>
      <div class="item">
        <span class="bold-text">Editorial:</span>
        <span class="base-span">{{book.editor}}</span>
      </div>
      <div class="item">
        <span class="bold-text">Año de publicación:</span>
        <span class="base-span">{{book.year}}</span>
      </div>
    </div>
  </div>
</body>
