@import '_colors';

.navbar {
  background-color: $white; 
  border-top: solid 5px $cerulean;
  box-shadow: 0 4px 10px 0 $black-lighter-5;
  height: 70px;
  width: -webkit-fill-available;
  width: -moz-available;
  width: 100%;
}

.navbar-nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1;
}

.logo {
  background: center / cover no-repeat url('~/assets/logo-wolox.png');
  height: 70px;
  width: 210px;
  margin-left: 40px;
}

.actions {
  display: flex;
  width: 150px;  
}

.logout {
  margin: auto;
}

.logout-text {
  font-size: 18px;
  line-height: 20px;
  margin-right: 20px;
}

.content {
  align-items: center;
}

.shopping-cart {
  text-decoration: none;
  position: relative;

  .shopping-cart-image {
    background: center / cover no-repeat url('~/assets/shopping-cart.png');
    height: 27px;
    width: 25px;
  }

  .badge {
    background-color: $cerulean;
    border-radius: 50%;
    bottom: 17px;
    color: $white;
    height: 15px;
    left: 17px;
    padding: 0 5px 0 3px;
    position: absolute;
    width: 15px;
  }
}

.list-items {
  width: -webkit-fill-available;
}

.item {
  border-bottom: 2px solid $silver;
  height: 55px;
  margin-bottom: 30px;
}

.text-item {
  font-size: 22px;
}

.remove-item {
  background: center / cover no-repeat url('~/assets/remove-icon.png');
  height: 25px;
  position: absolute;
  right: 60px;
  width: 20px;
}

.empty-cart {
  background: center / cover no-repeat url('~/assets/empty-cart.png');
  height: 170px;
  margin: 90px auto;
  width: 230px;
}

.empty-title {
  font-size: 32px;
  font-weight: 700;
}

.empty-description {
  font-size: 24px;
  padding-top: 24px;
}