<nav class="navbar navbar-nav">
  <a class="logo"></a>
  <div class="actions">
    <a class="shopping-cart" (click)="openPopUp()">
      <span class="shopping-cart-image"></span>
      <span class="badge">{{count}}</span>
    </a>
    <a class="logout" (click)="logout()"><span class="logout-text">Logout</span></a>
  </div>
</nav>
<router-outlet></router-outlet>
<app-pop-up popUpName="shopping" [title]="popUpTitle" [open]="popUp" (closeAction)="closePopUp($event)">
  <ul>
    <li *ngFor="let book of shoppingBooks; index as i" class="list-item">
      <span class="text-item">{{ book.title }} - {{ book.author }}</span>
      <a (click)="removeItem(i)" class="remove-item"></a>
    </li>
  </ul>
</app-pop-up>
