$gray: #828282;
$white: #FFF;
$black-lighter-5: #00000080;
$earls-green: #BED23C;
$cerulean: #00ADEE;
$wild-sand: #F4F4F4;
$silver-chalice: #A8A8A8;
$pomegranate: #f44336;
$mercury: #E8E8E8;
$silver: #C8C8C8;
