@import '../../styles.scss';

.authentication-container {
  margin: 100px auto;
  width: fit-content;
}

.authentication-form {
  background-color: $wild-sand;
  border-top: 5px solid $cerulean;
  height: fit-content;
  padding: 25px;
  text-align: center;
  width: 300px;
}

.form-logo {
  height: 70px;
  width: 210px;
}

.signup-button {
  &::after {
    background-color: $silver-chalice;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    top: 50px;
    width: 250px;
  }
}
